<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/extra.css">
    <link rel="stylesheet" href="../../static/css/loader.css">
    <link rel="stylesheet" href="../../static/css/admin_dashboard.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/css/loader.css">
    <title>LMS | Admin</title>
</head>
<body>
    <div id="preloader" class="loader-container">
        <div class="loader"></div>
    </div>
<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-user'></i>
        <span class="text">{{ employee.firstname }} {{ employee.lastname }}</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="/admin/dashboard">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Home</span>
            </a>
        </li>
        <li>
            <a href="/admin/leave-applications">
                <i class='bx bxs-bar-chart-alt-2' ></i>
                <span class="text">Manage Leave</span>
            </a>
        </li>
    </ul>


    <ul class="side-menu">
        <li>
            <a href="" class="logout" onclick="logout()">
                    <i class='bx bx-log-out-circle' ></i>
                    <span class="text">Logout</span>
                </a>
        </li>
    </ul>
</section>
<section id="content">

    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <a href="" class="profile">
            <img src="https://lh3.googleusercontent.com/ogw/AF2bZyi5GukKspULSakGvdFqTmDLPOWwAZGWaRdZ44JCUUCj960=s32-c-mo" alt="">
        </a>
    </nav>
    <!-- SIDEBAR -->

    <!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="box-info">
        <li>
            <i class='bx bxs-calendar-check' ></i>
            <span class="text">
                <h3>{{ stats.pending_leaves }}</h3>
                <p>Pending</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-user-check'></i>
            <span class="text">
                <h3>{{ stats.approved_leaves }}</h3>
                <p>Approved</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-x-circle'></i>
                <span class="text">
                <h3>{{ stats.rejected_leaves }}</h3>
                <p>Rejected</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-receipt'></i>
                <span class="text">
                <h3>{{ stats.total_leaves }}</h3>
                <p>Total</p>
            </span>
        </li>
    </ul>


    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Snapshot</h3>
                <i class='bx bx-search' ></i>
                <i class='bx bx-filter' ></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Application Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="https://lh3.googleusercontent.com/ogw/AF2bZyi5GukKspULSakGvdFqTmDLPOWwAZGWaRdZ44JCUUCj960=s32-c-mo">
                            <p>John Doe</p>
                        </td>
                        <td>01-10-2021</td>
                        <td><span class="status completed">Pending</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="todo">
            <div class="head">
                <h3>Todos</h3>
                <i class='bx bx-plus' ></i>
                <i class='bx bx-filter' ></i>
            </div>
            <ul class="todo-list">
                <li class="completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded' ></i>
                </li>
                <li class="completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded' ></i>
                </li>
                <li class="not-completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded' ></i>
                </li>
                <li class="completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded' ></i>
                </li>
                <li class="not-completed">
                    <p>Todo List</p>
                    <i class='bx bx-dots-vertical-rounded' ></i>
                </li>
            </ul>
        </div>
    </div>
</main>
<!-- MAIN -->
</section>


<footer>
    <p>&copy; 2024 Leave Management System</p>
</footer>
<script src="../../static/js/dashboard.js"></script>
<script>
    var loader = document.getElementById("preloader");

    window.addEventListener("load", function() {
        loader.style.display = "none";
    });
</script>
<script>
        function logout(){
            const loader = document.getElementById("preloader");
            loader.style.display = "flex";
            const requestOptions = {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': "{{ csrf_token() }}",
                },
                redirect: 'follow'
            };

            fetch("/auth/logout", requestOptions)
              .then(response => {
                  if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error(errorData.error || "Something went wrong");
                        });
                        }
                  return response.json();
              })
              .then(data => {
                  console.log(data.message)
                  return window.location.href = '/';
              })
              .catch(error => console.log('error', error));
          loader.style.display = "none";
        }
</script>
</body>
</html>
